/* App.css: Diseño Global */

/* Esta etiqueta afecta a toda la página web */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Tipografía limpia y moderna */
  background-color: #121212; /* Un gris casi negro muy elegante, no negro puro */
  color: #ffffff; /* Texto blanco por defecto */
}

/* El título principal */
h1 {
  text-align: center;
  color: #00e5ff; /* Tu color Cian Neón característico */
  font-size: 2.5rem;
  margin-top: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* El subtítulo */
h2 {
  text-align: center;
  color: #a0a0a0; /* Gris claro para no robar atención */
  font-weight: 400;
  margin-bottom: 50px;
}